.button {
    background-color: #333;
    padding: 0.75rem;
    border: none;
    outline: none;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.button>.icon {
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
}

.button>span {
    color: #fff;
}